.effects-container {
  position: absolute;
  top: 7%;
  right: 45%;
  z-index: 3;
}

.bulb-line {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 50px;
  background: #570707;
}

.bulb-image {
  width: 150px;
  height: 250px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 200, 0.6));
}

.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,200,0.4) 0%, rgba(255,255,200,0) 70%);
  z-index: -1;
}